:root {
    --bg-color: rgb(204, 204, 204);
    --primary-color: rgb(51, 51, 51);
    --accent-color: #c19434;
    --hero-color: rgba(102, 102, 102, 0.52)
}

body {
    font-family: helvetica, arial, sans-serif;
    background-color: var(--bg-color);
    line-height: 1.5;
    margin: 0;
}

h2, p, {
    color: var(--primary-color);
    line-height: 1.5;
}

/*HEADER START*/
header {
    background-color: var(--primary-color); 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
} 
h1 {
    font-size: 38px;
    padding-left: 50px;
}

header h1, li, a {
    color: var(--bg-color);
    font-weight: bold;
    
}
header nav {
    margin: 7px 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    padding-right: 30px;
    margin: 10px;
}

nav a {
    text-decoration: none;
}

.link {
     padding-right: 20px;
     font-size: 26px;
     padding-bottom: 0;
}
/*HEADER END*/

/*HERO START*/

.hero {
    height: 500px;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(102, 102, 102, 0.52), rgba(204, 204, 204, 0.73)),
    url("./images/hero-image.jpg");
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
    margin-bottom: 75px;
}
/*HERO END*/

/*START HOVER EFFECTS*/

.about-hover:hover,
.work-hover:hover,
.contact-hover:hover,
.resume-hover:hover {
    color: var(--accent-color);
}

.about-hover:hover::before,
.work-hover:hover::before,
.contact-hover:hover::before,
.resume-hover:hover::before {
    content: "{ ";
}

.about-hover:hover:after,
.work-hover:hover:after,
.contact-hover:hover:after,
.resume-hover:hover:after {
    content: " }";
}
/*END HOVER EFFECTS*/

/*ABOUT ME SECTION*/
.about {
    display: flex;
    background-color: var(--bg-color);
    height: 150px;
    width: 100%;
    margin-bottom: 75px;

}

.about-title {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    padding: 30px;
    height: 90px;
    width: 25%;
    background-color: var(--bg-color);
    border-right: 6px solid var(--primary-color);
}

.bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    width: 75%;
    background-color: var(--bg-color);
}


/*WORK SECTION*/
.work {
    display: flex;
    height: 800px;
    width: 100%;
    margin-bottom: 125px;
}

.work-title {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px;
    height: 100%;
    width: 25%;
    background-color: var(--bg-color)d;
    border-right: 6px solid var(--primary-color);
    
}

.work-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    width: 75%;
}



.work-title h2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.featured-project {
    display: flex;
    flex-basis: 100%;
    height: 300px;
    margin: 10px;
}

.secondary-project {
    display: flex;
    height: 200px;
    width: auto; 
    margin: 10px;
    flex-basis: 40%;
}


.work-body > * {
    flex: 1 1 50;
}

.project1 {

    background-image: url("./images/run-buddy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project2 {

    background-image: url("./images/coming-soon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project3 {
    background-image: url("./images/coming-soon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project4 {
    background-image: url("./images/coming-soon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project5 {
    background-image: url("./images/coming-soon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



/*CONTACT SECTION*/
.contact {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 150px;
    width: 100%;
    margin-bottom: 75px;
}

.contact-title {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 30px;
    height: 100%;
    width: 25%;
    border-right: 6px solid var(--primary-color);


}

.contact-body {
    background-color: var(--bg-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    width: 75%;

}

.contact-body a {
    padding: 20px;
}

/*CONTACT SECTION END*/

/*FOOTER*/

footer {
    height: 125px;
    width: 100%;
    background-color: var(--primary-color);
}
